<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicplayer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NowPlayingActivity"
            android:label="Now Playing" />
        <activity
            android:name=".LibraryActivity"
            android:label="Library" />
        <activity
            android:name=".PlaylistsActivity"
            android:label="Playlists" />
        <activity
            android:name=".EqualizerActivity"
            android:label="Equalizer" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity
            android:name=".TracksActivity"
            android:label="Tracks"/>
        <activity
            android:name=".ArtistsActivity"
            android:label="Artists"/>
        <activity
            android:name=".AlbumsActivity"
            android:label="Albums"/>
        <activity
            android:name=".GenresActivity"
            android:label="Genres"/>
    </application>

</manifest>